@{
    Layout="~/Views/Shared/_Layout.cshtml";
    ViewData["Title"]="Home";
}
<h2>Your accountability starts here.</h2>
<p>Choose where to next:</p>
<div class="container">
    <div class="column">
        <button>Struggles</button>
    </div>
    <div class="column">
        <a href="/Journal/Index" class="btn btn-primary">Journals</a>
    </div>
    <div class="column">
        <button>Scriptures</button> //link to journals
    </div>
</div>
<div>
    <p>a description of what this website is.</p>
</div>