@{
    ViewData["Title"]="Journal";
    Layout="~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class=column>

        <div class=col-md-6> 
            <h3>New Journal Entry</h3> <!-- first half of the page -->
            <form>

                <label for="journalTitle" class="form-label" >Title</label>
                <input type="text" id="journalTitle" class="form-control" placeholer="Enter Title"/>

                <input type="date" id="Date" class="form-control"
                value="@DateTime.Now.ToString("dd-mm-yyyy")"/> <!--practice dates-->

                <label for="journalMood" class="form-label" >Mood</label>
                <input type="text" id="journalMood" class="form-control" placeholder="Sad"/>

                <label for="journalContent" class="form-label" >Content</label>
                <textarea name="Content" id="journalContent" class="form-control" placeholder="Go on, let your feelings out." />

                <button type="submit" id="submitBtn">Submit</button>
            </form>
        </div>
        <div class=col-md-6>
            <h3>My Journal Entry</h3>
            <input type="date" id="journalDate" class="form-control mb-2" /> <!-- this is a date picker -->
            <button class="btn btn-primary" onclick="loadJournalsByDate()">Load Journals</button>

            <ul id="journalList" class="listGroup"> <!-- this is a list --></ul>
        </div>

    </div>
</div>
@section Scripts{
    <script>
        async function loadJournalsByDate(){
            const dateInput = document.getElementById('journalDate').value;
            if(!dateInput){
                alert("Please select a date!");
                return;
            }

            const response = await fetch(`/api/Journal/${dateInput}`);
            if(!response.ok){
                alert("Couldn't fetch journals!");
                return;
            }

            const journals = await response.json(); //toList(), so journals == array
            const list = document.getElementById('journalList');
            list.innerHTML = ''; //clears previous search list

            journals.forEach(j =>{
                const li = document.createElement('li');
                li.className = 'list-group-item';
                li.textContent = `${new Date(j.date).toLocaleDateString()} - ${j.title}`
                //li.onclick = () => //new page or replace date picking layout
                list.appendChild(li);
            })

        }
    </script>
}